.header {
  .left {
    color: #fff;
    float: left;
  }
  .right {
    float: right;
  }
}

.main {
}

.footer {
  text-align: center;
  background-color: #f7f7f7;
  border-top: 1px solid #e8e8e8;
  height: 40px;
  line-height: 40px;
  padding: 0;
}
