@font-face {
  font-family: "iconfont"; /* Project id 4773190 */
  src: url('iconfont.woff2?t=1733667922144') format('woff2'),
       url('iconfont.woff?t=1733667922144') format('woff'),
       url('iconfont.ttf?t=1733667922144') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-charuxing:before {
  content: "\e89e";
}

.icon-shanchuxing:before {
  content: "\e89f";
}

.icon-charulie:before {
  content: "\e600";
}

.icon-jurassic_table:before {
  content: "\e6ac";
}

.icon-shanchulie:before {
  content: "\e90a";
}

.icon-shanchu:before {
  content: "\e621";
}

.icon-biaotou-zuo:before {
  content: "\e601";
}

.icon-biaotou-shang:before {
  content: "\e602";
}

.icon-xiugaimingcheng:before {
  content: "\e609";
}

.icon-xinzengwenjianjia:before {
  content: "\e761";
}

.icon-xinzengwenjian:before {
  content: "\e762";
}

.icon-yinyong:before {
  content: "\e632";
}

.icon-h:before {
  content: "\e8ac";
}

.icon-liebiao:before {
  content: "\e62d";
}

.icon-liebiao1:before {
  content: "\e88f";
}

.icon-daiban1:before {
  content: "\e64b";
}

.icon-pdf:before {
  content: "\e67a";
}

.icon-save:before {
  content: "\e866";
}

.icon-zitiyangshi1:before {
  content: "\e780";
}

.icon-daiban:before {
  content: "\e612";
}

.icon-font-colors:before {
  content: "\e7f7";
}

.icon-tupian:before {
  content: "\e8ba";
}

.icon-huanhang:before {
  content: "\e60e";
}

.icon-xiabiao1:before {
  content: "\e834";
}

.icon-strikethrough:before {
  content: "\e611";
}

.icon-shangbiao:before {
  content: "\e835";
}

