.side-bar-container {
  width: 200px;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 12px 12px 0 0;
  .side-btns {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 12px;
  }
  // 所有按钮
  :global {
    button {
      border: none !important;
      box-shadow: none;
      svg {
        height: 16px;
        width: 16px;
      }
    }
  }

  .handle-title {
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      min-width: 60px;
    }
  }
}
